*{
	margin: 0px;
	padding: 0px;
}
header{
	width: 100%;
	height: 40px;
	background: #31AB9B;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	line-height: 40px;
}
.container{
	margin: 20px;
	padding: 20px;
	border: 1px solid #999;
	background: #eee;
	position: relative;
	/*清除浮动满足高度自适应*/
	overflow: auto;
	zoom: 1;
	/*添加最小宽度,防止浏览器伸缩样式混乱*/
	min-width: 768px;
}
.logo, .members, .introduct-team{
	float: left;
	border: 1px solid #999;
	background: #fff;
}
.logo{
	position: relative;
	width: 158px;
	padding: 20px;
	margin-left: -100%;
}
.introduct-team{
	margin-left: 220px;
	margin-right: 140px;
	padding: 20px;
}
.members{
	width: 80px;
	padding: 19px 19px 0 19px;
	margin-left: -120px;
}
.logo-img,
.members img{
	border: 1px solid #999; 
	width: 80px;
	height: 80px;
}
.team-name{
	position: absolute;
	top: 20px;
	left: 120px;
}
.members img{
	margin-bottom: 20px;
}
/*无所谓的样式,主要使main内的文字好看点,当然现在也是很难看*/
.introduct-team p{
	margin: 5px 0;
}
.toqiyi{
	text-decoration: none;
	color: #397ADE;
}