@charset 'utf-8';

$class-prefix: 'button';
$icon-class-prefix: 'icon-button';

.#{$class-prefix} {
	text-align: center;
	background: $active-font-color;
	border: $border-base;
	&:hover {
		@extend .#{$class-prefix}-active;
	}
}
.#{$class-prefix}-active {
	background: $active-color !important;
	color: $active-font-color !important;
	border: 1px solid $active-color !important;
}
.#{$class-prefix}-fixed-width {
	width: 62px;
}
.#{$icon-class-prefix} {
	color: $active-font-color;
	i {
		margin-right: 12px;
	}
	&:hover {
		@extend .#{$class-prefix}-active;
	}
}
.#{$icon-class-prefix}-active {
	@extend .#{$class-prefix}-active;
}
.#{$class-prefix}-link {
	display: inline-block;
	@extend .#{$class-prefix};
	@extend .#{$class-prefix}-fixed-width;
	font-size: $font-size-small;
	color: #666;
	text-decoration: none;
	line-height: 20px;
}