@charset 'utf-8';

$class-prefix: 'button';
$icon-class-prefix: 'icon-button';

.#{$class-prefix} {
	text-align: center;
	background: $active-font-color;
	border: $border-base;
	margin: 50px;
}
.#{$class-prefix}-active {
	background: $active-color;
}
.#{$class-prefix}-fixed-width {
	width: 62px;
}
.#{$icon-class-prefix} {
	color: $active-font-color;
	i {
		margin-right: 12px;
	}
}
.#{$icon-class-prefix}-active {
	@extend .#{$class-prefix}-active;
}