@charset 'utf-8';

$add-question-color: #eee;
$add-question-border-color: #ccc;

body {
	font-size: $font-size-base;
	font-color: $font-color;
	background: $body-background;
}
.index-container {
	padding: 15px;
	@include index-container;
}
.show-items {
	$lh: 2.5 * $font-size-big;
	cursor: pointer;
	font-size: $font-size-big;
	color: #666;
	text-align: center;
	margin: auto;
	.icon-button {
		$blh: 1.5 * $font-size-mid;
		float: right;
		margin-right: 20px;
		font-size: $font-size-mid;
		line-height: blh;
		margin-top: ($lh - $blh) / 2;
	}
	&-body {
		font-size: $font-size-base;
		.button {
			margin: 0px 10px;
		}
	}
	&-title {
		font-weight: 600;
		th {
			line-height: $lh;
			&:hover {
				background: $hover-color;
			}
		}
	}
	&-tr {
		line-height: 2.5;
		border-bottom: $border-base;
		&:hover {
			background: $hover-color;
		}
	}
	&-td-title {
		width: 300px;
	}
	&-td-date {
		width: 200px;
	}
	&-td-status {
		width: 100px;
	}
	&-td-handle {
		width: 300px;
	}
}
.status-publish {
	color: #5FDF5F;
}
.status-end {
	color: red;
}
.no-index-container {
	@include index-container;
	position: relative;
	height: $container-min-height;
	.icon-button {
		width: 160px;
		border: none;
		padding: 0px;
		font-size: $font-size-big;
		font-weight: 700;
		font-family: "Microsoft YaHei";
		@include lh-equal-h(45px);
		@include center;
	}
}
.question-container {
	@include index-container;
	&>div {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}
.item-title {
	text-align: center;
	line-height: 3;
	padding: 1rem 0px;
	cursor: pointer;
	color: #555;
	border-bottom: $border-base;
}
.title {
	width: 100%;
	font-size: $font-size-big;
	@include lh-equal-h(3 * $font-size-big);
	text-align: center;
	&:hover {
		background: $hover-color;
	}
	&-input {
		@include span-to-input(3 * $font-size-big);
		color: #555;
		font-weight: bold;
		&:focus {
			background: $hover-color;
		}
	}
}
.add-question-container {
	margin-bottom: 1.5 * $font-size-big;
	border: 1px solid $add-question-border-color;
	cursor: pointer;
}
.add-question {
	@include lh-equal-h(4 * $font-size-big)
	text-align: center;
	font-size: $font-size-mid;
	background: $add-question-color;
	color: #888;
	i {
		margin-right: 10px;
	}
}
.question-type {
	transition: height 0.3s ease-in-out;
	overflow: hidden;
	height: 0px;
	line-height: 4 * $font-size-big;
	text-align: center;
	.icon-button {
		color: #000;
		background: $add-question-color;
		border: 1px solid $add-question-border-color;
		font-size: $font-size-base;
		padding: 0px 15px 0px 10px;
		@include lh-equal-h(2 * $font-size-mid);
		&:nth-of-type(2) {
			margin: 0px 15px;
		}
	}
}
.button-area {
	$p: 2 * $font-size-big;
	padding: $p 0px;
	color: #888;
	border-top: $border-base;
	button {
		float: right;
		margin-right: 80px;
		padding: 5px 15px;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
		&:last-child {
			margin-right: 35px;
		}
	}
}
.date {
	display: inline-block;
	margin-left: 40px;
	label {
		font-size: $font-size-mid;
	}
	span {
		display: inline-block;
		width: 200px;
		@include lh-equal-h(1.5 * $font-size-big);
		font-size: $font-size-mid;
		padding: 0px 10px;
		border: 1px solid #C1BCBC;
		cursor: pointer;
	}
}
.question-calendar {
	top: -51px;
	left: 130px;
}
.questions-container {
	padding: 15px;
}
.one-question {
	padding: 25px;
	&:hover {
		background: $hover-color;
		.handle-area {
			opacity: 1;
		}
	}
	h2 {
		font-size: $font-size-big;
		line-height: 1.5 * $font-size-big;
	}
}
$p-margin: 47px;
.question-option {
	margin: 5px 0px 5px $p-margin;
	font-size: $font-size-mid;
	line-height: 1.5 * $font-size-mid;
	i {
		text-indent: 0px;
	}
	.option-remove {
		display: none;
	}
	&:hover .option-remove {
		display: inline;
	}
}
$option-icon-margin: 10px;
.option-remove {
	margin-left: $option-icon-margin;
	color: $active-color;
	cursor: pointer;
	font-size: $font-size-big;
}
.option-icon {
	margin-right: $option-icon-margin;
}
.one-question-title {
	margin: 1.5 * $option-icon-margin;
}
.question-title-input {
	@extend .one-question-title;
	@include span-to-input(1.5 * $font-size-big, 2);
	@include question-change;
	font-weight: bold;
	font-size: $font-size-big;
	margin-left: 15px;
}
.question-option-input {
	@include span-to-input(1.5 * $font-size-mid, 2);
	@include question-change;
	font-size: $font-size-mid;
	top: 0px;
}
.add-option {
	margin-left: $p-margin;
	border: 1px dashed #000;
	text-align: center;
	font-size: $font-size-mid;
	line-height: 1.5 * $font-size-mid;
	color: #555;
	cursor: pointer;
	opacity: 0;
	&:hover {
		opacity: 1;
		transition: opacity 0.3s;
	}
}
.show-text-question {
	width: 90%;
	height: 4 * $font-size-big;
	resize: none;
	margin: 10px 0px 10px $p-margin;
	padding: 10px;
}
.handle-area {
	text-align: right;
	font-size: $font-size-mid;
	margin-top: $font-size-mid;
	opacity: 0;
	transition: opacity 0.2s;
	span {
		cursor: pointer;
		margin-right: 20px;
	}
}
.choose-require {
	float: left;
	input {
		@include left-input;
	}
}
.radio-input {
	@include left-input;
	margin-right: 15px;
}
.submit-answer {
	text-align: center;
	button {
		@include lh-equal-h(2.5 * $font-size-mid);
		font-size: $font-size-mid;
		padding: 0px 2 * $font-size-mid;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	}
}