@charset 'utf-8';

$add-question-color: #eee;
$add-question-border-color: #ccc;

body {
	font-size: $font-size-base;
	font-color: $font-color;
	background: $body-background;
}
@mixin index-container {
	box-sizing: border-box;
	width: $container-width;
	margin: 50px auto;
	background: #fff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.index-container {
	padding: 15px;
	@include index-container;
}
.show-items {
	$lh: 2.5 * $font-size-big;
	cursor: pointer;
	font-size: $font-size-big;
	color: #666;
	text-align: center;
	margin: auto;
	.icon-button {
		$blh: 1.5 * $font-size-mid;
		float: right;
		margin-right: 20px;
		font-size: $font-size-mid;
		line-height: blh;
		margin-top: ($lh - $blh) / 2;
	}
	&-body {
		font-size: $font-size-base;
		.button {
			margin: 0px 10px;
		}
	}
	&-title {
		font-weight: 600;
		th {
			line-height: $lh;
			&:hover {
				background: $hover-color;
			}
		}
	}
	&-tr {
		line-height: 2.5;
		border-bottom: $border-base;
		&:hover {
			background: $hover-color;
		}
	}
	&-td-title {
		width: 300px;
	}
	&-td-date {
		width: 200px;
	}
	&-td-status {
		width: 100px;
	}
	&-td-handle {
		width: 300px;
	}
}
.status-publish {
	color: #5FDF5F;
}
.status-end {
	color: red;
}
.no-index-container {
	@include index-container;
	position: relative;
	height: $container-min-height;
	.icon-button {
		width: 160px;
		border: none;
		padding: 0px;
		font-size: $font-size-big;
		font-weight: 700;
		font-family: "Microsoft YaHei";
		@include lh-equal-h(45px);
		@include center;
	}
}
.question-container {
	@include index-container;
	&>div {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}
.item-title {
	text-align: center;
	line-height: 3;
	padding: 1rem 0px;
	cursor: pointer;
	color: #555;
	border-bottom: $border-base;
}
.title {
	width: 100%;
	font-size: $font-size-big;
	@include lh-equal-h(3 * $font-size-big);
	text-align: center;
	&:hover {
		background: $hover-color;
	}
	&-input {
		$border-size: 1px;
		height: 3 * $font-size-big;
		box-sizing: border-box;
		position: relative;
		top: -$border-size;
		border: $border-size solid #03A9F4;
		font-weight: bold;
		color: #555;
		&:focus {
			background: $hover-color;
		}
	}
}
.add-question-container {
	margin: 1.5 * $font-size-big auto;
	border: 1px solid $add-question-border-color;
	cursor: pointer;
}
.add-question {
	@include lh-equal-h(4 * $font-size-big)
	text-align: center;
	font-size: $font-size-mid;
	background: $add-question-color;
	color: #888;
	i {
		margin-right: 10px;
	}
}
.question-type {
	transition: height 0.3s ease-in-out;
	overflow: hidden;
	height: 0px;
	line-height: 4 * $font-size-big;
	text-align: center;
	.icon-button {
		color: #000;
		background: $add-question-color;
		border: 1px solid $add-question-border-color;
		font-size: $font-size-base;
		padding: 0px 15px 0px 10px;
		@include lh-equal-h(2 * $font-size-mid);
		&:nth-of-type(2) {
			margin: 0px 15px;
		}
	}
}
.button-area {
	$p: 2 * $font-size-big;
	padding: $p 0px;
	color: #888;
	border-top: $border-base;
	button {
		float: right;
		margin-right: 80px;
		padding: 5px 15px;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
		&:last-child {
			margin-right: 35px;
		}
	}
}
.date {
	display: inline-block;
	margin-left: 40px;
	label {
		font-size: $font-size-mid;
	}
	span {
		display: inline-block;
		width: 200px;
		@include lh-equal-h(1.5 * $font-size-big);
		font-size: $font-size-mid;
		padding: 0px 10px;
		border: 1px solid #C1BCBC;
		cursor: pointer;
	}
}
.question-calendar {
	top: -51px;
	left: 130px;
}