@charset "utf-8";

$active-color: #FC6600;
$border-color: #B9B4B4;
$font-color: #B9B4B4;
$active-font-color: #fff;

$body-background: #EFEFEF;
$mask-background: #8f8f8f;

$header-height: 40px;

$font-size-base: 14px;
$font-size-big: 20px;
$font-size-small: 12px;

$border-base: 1px solid $border-color;