@charset "utf-8";

$active-color: #FC6600;
$border-color: #B9B4B4;
$font-color: #B9B4B4;
$active-font-color: #fff;
$hover-color: #fef1e8;

$body-background: #EFEFEF;
$mask-background: #8f8f8f;

$header-height: 40px;
$container-width: 1000px;
$container-min-height: 300px;

$font-size-base: 14px;
$font-size-big: 20px;
$font-size-small: 12px;
$font-size-mid: 16px;

$border-base: 1px solid $border-color;

$mask-z-index: 1000;
